.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.title {
  padding: 1.5rem;
}

nav {
  display: flex;
  flex: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 3px solid black;
}

.navButtons a{
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 3px;
  margin-top: 9px;
  height: 18px;

  transition: all 0.3s ease;
}

.navButtons a:hover {
  background-color: gray;
  scale: 1.05;
}

.navButtons a:visited {
    text-decoration: none;
    color: white;
}

span {
  display: flex;
  justify-content: space-evenly;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4em;
  margin: 6rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form>div {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-align: left;
}

.blackbox {
  height: 4em;
  color: white;
  background-color: black;
  font-weight: bold;

  transition: all 0.3s ease;
}

.blackbox:hover {
  scale: 1.05;
  background-color: gray;
}

.submit {
  margin-top: 15px;
}

.friendlist {
  font-size: 1em;
}

.friend {
  font-size: 1.5em;
  padding: 0.5em;
  background-color: lightgray;
}

