@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, #root {
    margin: 0px;
    /* height: 100vh;
    width: 100vw; */
    background: #eeeeee;
    font-family: Lato;
}

label {
    display:block;
}

body {
    margin: 0;
}